<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.1</string>
	<key>Name</key>
	<string>10 Principles for Good Design</string>
	<key>InitialUserPages</key>
	<array>
		<string>Principles 1 &amp; 2.playgroundpage</string>
		<string>Principles 3 &amp; 4.playgroundpage</string>
		<string>Principles 5 &amp; 6.playgroundpage</string>
		<string>Principle 7.playgroundpage</string>
		<string>Principles 8 &amp; 9.playgroundpage</string>
		<string>Principle 10.playgroundpage</string>
	</array>
</dict>
</plist>
